span {
  display: flex;
  align-items: center;
}

i {
  margin-right: 15px;
}

.fa-key {
  margin-right: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

form {
  border: 1px dashed red;
  border-radius: 50px;
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text-field {
  width: 400px;
  height: 60px;
  border-radius: 10px;
  font-size: 30px;
  outline: none;
}

.submit-btn {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
}
