{% extends 'base.html' %} {% block content %}
<br><br>
<div class="container h-100">
  <h2>Welcome! {{ user.username }}</h2>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Title</th>
        <th scope="col">Date posted</th>
        <th scope="col">Jobs</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <th scope="row">{{ loop.index0 + 1 }}</th>
        <td>{{ post.title }}</td>
        <td>{{ post.date_posted }}</td>
        <td>
          <button type="button" class="btn btn-outline-primary" onclick="location.href='/post/{{ post.id }}'">Check</button>
          <button type="button" class="btn btn-outline-success" onclick="location.href='/edit/{{post.id}}'">Edit</button>
          <button type="button" class="btn btn-outline-danger" onclick="location.href='/delete/{{post.id}}'">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <input type="button" onclick="location.href='/new'" value="New diary" />
  </div>
</div>
{% endblock %}
