<!DOCTYPE html>
<html>
  <head>
    <title>MAIN</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/home.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/earlyaccess/notosanskr.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h2>THIS IS MAIN PAGE</h2>
    <h3>Welcome! {{ username }}</h3>
    <div>
      <input type="button" onclick="location.href='/new'" value="New diary" />
      <input type="button" onclick="location.href='/logout'" value="Log out" />
    </div>
    <table>
      <tr>
        <th>INDEX</th>
        <th>TITLE</th>
        <th>DATE POSTED</th>
      </tr>
      {% for post in posts %}
      <tr>
        <td>{{ loop.index0 }}</td>
        <td><a href="/post/{{ post.id }}">{{ post.title }}</a></td>
        <td>{{ post.date_posted }}</td>
        <td><a href="/edit/{{post.id}}">Edit</a></td>
        <td><a href="/delete/{{post.id}}">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
