<!DOCTYPE html>
<html>
  <head>
    <title>MAIN</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
    <link
      href="https://fonts.googleapis.com/earlyaccess/notosanskr.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h2>THIS IS MAIN PAGE</h2>
    <h3>Welcome! {{ username }}</h3>
    {% for post in posts%} {{post.title}} {{post.content}}
    {{post.date_posted}}<br />
    {% endfor %}
  </body>
</html>
