<!DOCTYPE html>
<html>
  <head>
    <title>INDEX</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
  </head>
  <body>
    <h1>My Diary</h1>
    <div class="choose">
      <a href="/login">
        <div class="choose--box">
          <span>Log in</span>
        </div>
      </a>
      <a href="/signup">
        <div class="choose--box">
          <span> Sign up </span>
        </div>
      </a>
    </div>
  </body>
</html>
