<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
  </head>
  <body>
    <h1>My Diary</h1>
    <div class="login-form">
      <form action="/main" method="POST">
        <span>
          <i class="far fa-address-card fa-4x"></i>
          <input
            type="text"
            name="email"
            class="text-field"
            placeholder="Email"
          />
        </span>
        <span>
          <i class="fas fa-key fa-4x"></i>
          <input
            type="password"
            name="password"
            class="text-field"
            placeholder="Password"
          />
        </span>
        <input type="submit" value="Log In" class="submit-btn" />
      </form>
    </div>

    <script
      src="https://kit.fontawesome.com/b98b5bbdbb.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
