<!DOCTYPE html>
<html>
  <head>
    <title>MAIN</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
    <link
      href="https://fonts.googleapis.com/earlyaccess/notosanskr.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h2>THIS IS MAIN PAGE</h2>

    {% for member in members_list %}
    <h4>
      {{member.id}} {{member.email}} {{member.password}} {{member.date_created}}
    </h4>
    {% endfor %}
  </body>
</html>
