{% extends 'base.html' %} {% block content %}
<h2>THIS IS NEW PAGE</h2>

<form action="/new" method="POST" enctype="multipart/form-data">
  <!--<input type="text" name="title" placeholder="write title" required />
      <input type="text" name="content" placeholder="write your story" />-->
  <textarea name="title" placeholder="write title" required> </textarea>
  <textarea name="content" placeholder="write your story"> </textarea>
  <input
    type="file"
    accept="image/*"
    id="file"
    name="image"
    onchange="loadFile(event)"
  />
  <div class="image-display"></div>
  <!--where selected images displayed-->
  <input type="submit" value="Save diary" />
</form>

<script
  type="text/javascript"
  src="{{url_for('static', filename='js/post.js')}}"
></script>
{% endblock %}
