{% extends 'base.html' %} 

{% block style %}
  div.input {
    display: flex;
    justify-content: flex-end;
  }
{% endblock %}

{% block content %}
<h2>THIS IS NEW PAGE</h2>

<div class="container">
  <form action="/new" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="write title" required>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Diary</label>
      <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="20" placeholder="write your story"></textarea>
    </div>

    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Photos</label>
      <input accept="image/*" name="image" onchange="loadFile(event)" class="form-control" type="file" id="formFileMultiple" multiple>
    </div>

    <div class="input">
      <input class="btn btn-primary btn-lg" type="submit" value="Save diary">
    </div>
  </form>

  <div class="image-display" style="padding-bottom: 30px">
  </div>
</div>

{% endblock %}
