<!DOCTYPE html>
<html>
  <head>
    <title>SIGNUP</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/signup.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/earlyaccess/notosanskr.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="signup-form">
      <form action="/signup" method="POST">
        <input
          type="text"
          name="username"
          class="text-field"
          placeholder="Username"
        />
        <input
          type="text"
          name="email"
          class="text-field"
          placeholder="Email"
        />
        <input
          type="password"
          name="password"
          class="text-field"
          placeholder="Password"
        />
        <!--<input
          type="password"
          name="password_retype"
          class="text-field"
          placeholder="Password Retype"
        />-->
        <input type="submit" value="Sign up" class="submit-btn" />
      </form>
    </div>
  </body>
</html>
